<header>
 <div id="head">
   <div id="mini-logo">
      <a href="/" class="logo"> Codeial </a>
      </div>
       <% if(locals.user) {%>
         <span>
            <a href="/users/sign-out"> Sign Out </a>
            <span>
         <% } else { %>
           <span>
              <a href="/users/sign-in"> Sign In </a>
             <a href="/users/sign-up"> Sign Up </a>
           </span>
          <% } %>
   </div>
</header>
