#foot {
  background-color: #607d8b;
  width: 100%;
  height: auto; }
  #foot .fa-copyright {
    color: white;
    font-size: 20px;
    padding: 0px 8px 8px 12px; }
  #foot #links {
    display: inline-block; }
    #foot #links li {
      list-style: none;
      margin: 4px; }
    #foot #links a {
      text-decoration: none;
      color: white;
      font-size: 20px; }
